html{
  font-family: sans-serif;
	background: #678293;
  padding: 1rem;
}
footer {
  text-align: center;
}
div a h1 {
  align: left;
  padding-left: 1rem;
  margin-right: 25vw;
}
div nav ul {
  margin-left: 43vw;
  display: flex;
	list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav ul li {
  text-align:right;
  padding: 0.25rem 0.5rem;
}
body {
  margin: 0 auto;
  background-color: #FFF5F2;
}
a:link {
  text-decoration: none;
  color: #21457F;
}
a:visited {
  color:#2D5280;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:active {
  color: white;
}
div header h1 {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  align-items: center;
  text-align: justify;
  padding-left: 40vw;
  padding-right: 40vw;
}
div header p {
  display: flex;
  padding-left: 30vw;
  padding right: 30vw;
}

#top {
  display: flex;
  background-color: #cccccc;
}
#postsbutton {
  align-items: flex-end;
  margin-left: 96%;
}
#posttitle {
  border-bottom-color: black;
  border-bottom: 1px;
}
#post {
  margin: auto;
  padding-top: 2rem;
}
#view {
  margin-left: 2000%;
  margin-bottom: 1rem;
}
#edit {
  margin-left: 2000%;
}

.welcome {
  display: flex;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.content {
	grid-template-columns: 100px auto 100px;
	grid-template-rows:15% 200px auto;
	padding: 0 1rem 1rem;
}
.content > header {
	border-top: 1px solid lightgray
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: flex-end;
}
.content > header h1 {
	flex: auto;
	margin: 1rem 0 0.25rem 0;
}
.flash {
	margin: 1em 0;
	padding: 1em;
	background: #cae6f6;
	border: 1px solid #377ba8;
}
.post > header {
	display: flex;
	align-items: flex-end;
	font-size: 0.85em;
}
.post > header > div:first-of-type {
	flex: auto;
}
.post > header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}
.post .about {
	color: slategray;
	font-style: italic;
}
.post .body {
	white-space: pre-line;
}
.content:last-child {
	margin-bottom: 0;
}
.content form {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}
.content label {
	font-weight: bold;
	margin-bottom: 0.5em;
}
.content input, .content textarea {
	margin-bottom: 1em;
}
.content textarea {
	min-height: 12em;
	resize: vertical;
}
.contentBox{
display: block;
}
.content_header{
display: grid;
fontcolor:
}
