html{
  font-family: sans-serif;
	background: #97BCE8;
}
footer {
  text-align: justify;
}

#top {
  display: block;
  background-color: #c2c2d6;
}

.content {
	grid-template-columns: 100px auto 100px;
	grid-template-rows:15% 200px auto;
	padding: 0 1rem 1rem;
}
.content > header {
	border-top: 1px solid lightgray
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: flex-end;
}
.content > header h1 {
	flex: auto;
	margin: 1rem 0 0.25rem 0;
}
.flash {
	margin: 1em 0;
	padding: 1em;
	background: #cae6f6;
	border: 1px solid #377ba8;
}
.post > header {
	display: flex;
	align-items: flex-end;
	font-size: 0.85em;
}
.post > header > div:first-of-type {
	flex: auto;
}
.post > header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}
.post .about {
	color: slategray;
	font-style: italic;
}
.post .body {
	white-space: pre-line;
}
.content:last-child {
	margin-bottom: 0;
}
.content form {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}
.content label {
	font-weight: bold;
	margin-bottom: 0.5em;
}
.content input, .content textarea {
	margin-bottom: 1em;
}
.content textarea {
	min-height: 12em;
	resize: vertical;
}
.contentBox{
display: block;
}
.content_header{
display: grid;
fontcolor:
}
