{% extends 'base.html' %}

{% block header %}
<h1> Hello and welcome to learn with me! </h1>
<div>
<p> This website is dedicated to those that want to advance their knowledge! </p> 
<p> The core design is to allow users to create content and share their knowledge and ideas </p>

<p> LWM caters to those that want to demonstrate their knowledge, as well as those that want to sell it. If you want to create a course-series the first step would be to create a group</p> 
<p> This will allow you to control who views your content as well as create targeted assessments and assignments<p>
<p> to create a group and learn more about these features, click this link <p>

<p> If you do not want to create a group and would rather create a lesson for everyone, click this link. <p>
{% endblock %}
