<!doctype html>
<html>
<head>
  <script src="https://cdn.tiny.cloud/1/0gns3d2rl9d9seln2abq8phecumk8ev3t5yw4peib4m7aiz8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
</head>



<title>{% block title %}{% endblock %} -Learn With Me</title>
<link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
<div id="top">
    <a href="{{ url_for('home.home') }}"><h1>Learn With Me</h1></a>
    <nav>
      <ul>
        {% if g.user %}
        <li><a href="{{ url_for('home.home') }}">Home</a></li>
        <li><a href="{{ url_for('profile.account', ID=g.user['username'])}}">{{ g.user['username'] }}</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('home.home') }}">Home</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<footer>
  <h5>
    Kieran Devany, Connor Matsudaira <br>
    CSCI 497
  </h5>
</footer>

</html>
