{% extends 'base.html' %}



{% block header %}
<div>
	<article class="welcome">
		<header>
			<h1 id="title">Welcome to Learn With Me!</h1>
			<p class="welcome" id="description">
				Learn with me is a website devoted to learners and other cool things that people want to know.
			</p>
		</header>
  </article>
</div>
{% endblock %}

{% block content %}

<div id="posttitle">
	<article class="content_header" >
		<div>
  	<h1 id="post">{% block title %}Posts{% endblock %}</h1>
		</div>
  	{% if g.user %}
		<div>
			<input id="postsbutton" type="button" onclick="window.location.href='{{ url_for('plans.create') }}';" value="New"/>
		</div>

  	{% endif %}
	</article>
</div>

<hr>

  {% for post in posts %}
    <article class="content">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
				<div>
          <a id="view" class="action" href="{{ url_for('plans.view', ID=post['id'], Pos=0) }}">View</a>
	  			<a id="edit" class="action" href="{{ url_for('plans.page', ID=post['id'], Pos=0) }}">Edit</a>
				</div>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
