{% extends 'base.html' %}



{% block header %}
<div>
<article class="welcome">
	<header>
	<h1> "Welcome to learn with me!" </h1>
	<p class="welcome">
	Learn with me is a website devoted to learners and other cool things that people want to know
	</p>
	</header>
  </article>
</div>

<div>
	<article class="content_header">
  	<h1>{% block title %}Posts{% endblock %}</h1>
  	{% if g.user %}
			<input type="button" onclick="window.location.href='{{ url_for('plans.create') }}';" value="New"/>

  	{% endif %}
	</article>
</div>
{% endblock %}



{% block content %}

  {% for post in posts %}
    <article class="content">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('plans.view', ID=post['id'], Pos=0) }}">View</a>
	  <a class="action" href="{{ url_for('plans.page', ID=post['id'], Pos=0) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
