{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% if post != None %}
    <label for="title">Title</label>
    <textarea name="title" id="title" >{{ post['ptitle'] }}</textarea>
    <label for="body">Body</label>
    <textarea name="body" id="body" >{{ post['pbody'] }}</textarea>
    <label for="Goals">Goals</label>
    <textarea name="Goals" id="Goals">{{ post['goal'] }}</textarea>
    {% else %}
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="Goals">Goals</label>
    <textarea name="Goals" id="Goals">{{ request.form['Goals'] }}</textarea>

    {% endif %}
    {% if position > 0 %}
    <input type="button" onclick="window.location.href='{{ url_for('plans.page', ID=ID, Pos=(position-1)) }}';" value="Previous"/>
    {% endif %}

    <input type="button" onclick="window.location.href='{{ url_for('plans.page', ID=ID, Pos=(position+1)) }}';" value="Next"/>
    <input type="submit" value="Save">
  </form>
{% endblock %}
