{% extends 'base.html' %}


{% block content %}


{% if quiz %}
  <article class ="quiz">
	<header>
		<div>
			<form method="post">
				{% autoescape off %}			
				<h1> {{post['title']}} </h1>
				{% if post['choice1'] %}
				<h3>{{ post['choice1'] }}</h3>
				<input type="radio" id="choice1" name="choice" value="1">
    				<label for="choice1"> 1</label><br>
				{% endif %}
				{% if post['choice2'] %}
				<h3>{{ post['choice2'] }}</h3>
				<input type="radio" id="choice2" name="choice" value="2">
    				<label for="choice2"> 2</label><br>
				{% endif %}
				{% if post['choice3'] %}
				<h3>{{ post['choice3'] }}</h3>
				<input type="radio" id="choice3" name="choice" value="3">
    				<label for="choice3"> 3</label><br>
				{% endif %}
				{% if post['choice4'] %}
				<h3>{{ post['choice4'] }}</h3>
				<input type="radio" id="choice4" name="choice" value="4">
    				<label for="choice4"> 4</label><br>
				{% endif %}
				{% endautoescape %}
			</form>
	</header>
</article>
{% else %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
	  <hr>
	{% if rating['score']==None %}
	<div class="rating"> This post has 0 score</div>
	{% else %}	  
	<div class="rating"> This post has {{ rating['score'] }} score</div>
	{% endif %}
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
	{% if g.user %}
	 	<a href="{{ url_for('plans.view', ID=postID, Pos= position, comment= True) }}">Comment</a>
		{% if g.user['id'] == post['author_id'] %}
                <a class="action" href="{{ url_for('plans.page', ID=post['prog_id'], Pos=post['position']) }}">Edit</a>
		<a class="action" href="{{ url_for('plans.summary', ID=post['prog_id'], Pos=post['position']) }}">Summary</a>
		<a class="action" href="{{ url_for('plans.delete', ID=post['prog_id'], Pos=post['position']) }}">Delete</a>
        	{% endif %}
	{% endif %} 
      </header>
	{% autoescape off %}
      {{ post['body'] }}
      <div>
      <h1> Objectives </h1>
	{{ post['goal'] }}
	{% endautoescape %}
	<div>
{% endif %}
	{% if position != 0 %}
    	<input type="button" onclick="window.location.href='{{ url_for('plans.DCAR', ID=post['prog_id'], Pos=post['position'], AID=AID, direction=2) }}';" value="Previous"/>
    	{% endif %}
	{% if next == True %}
   	 <input type="button" onclick="window.location.href='{{ url_for('plans.DCAR', ID=post['prog_id'], Pos=post['position'], AID=AID, direction=+1) }}';" value="Next"/>
	{% endif %}
	<div>
	{% if comment!=True %}	
	<form method="post">
		<input type="radio" id="up" name="rate" value="1">
		<label for="up"> +1</label><br>
		<input type="radio" id="down" name="rate" value="-1">
		<label for="down"> -1</label><br>
		<label for="body">Comment</label>
    		<textarea name="body" id="body">{{ request.form['body'] }}</textarea>
   		<input type="submit" value="Save">
	</form>
	{% endif %}
    </article>
	


{% for comm in comms %}
    <article class="content">
      <header>
        <div>
          <div class="about">by {{ comm['username'] }}</div>
      </header>
	{% autoescape off %}
      <p class="body">{{ comm['comments'] }}</p>
	{% endautoescape %}	
    </article>
    {% if not loop.last %}
 	{% endif %}
  {% endfor %}
{% endblock %}
	

  


