{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('plans.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
	  <hr>
	  <div class="rating"> This post has {{ rating['score'] }}</div>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
	{% if g.user %}
	 	<a href="{{ url_for('plans.view', ID=postID, Pos= position, comment= True) }}">Comment</a>
	{% endif %}       
	{% if g.user['id'] == post['author_id'] %}
                <a class="action" href="{{ url_for('plans.page', ID=post['prog_id'], Pos=post['position']) }}">Edit</a>
        {% endif %}
      </header>
      <p post['body']</p>{{ post['body'] }}
      <div>
      <p post['goals'] </p>{{ post['goal'] }}
	<div>
	{% if position != 0 %}
    	<input type="button" onclick="window.location.href='{{ url_for('plans.view', ID=postID, Pos=(position-1)) }}';" value="Previous"/>
    	{% endif %}
	{% if next == True %}
   	 <input type="button" onclick="window.location.href='{{ url_for('plans.view', ID=postID, Pos=(position+1)) }}';" value="Next"/>
	{% endif %}
	<div>
	{% if comment!=True %}	
	<form method="post">
		<input type="radio" id="up" name="rating" value="1">request.form['rating']
		<label for="up"> +1</label><br>
		<input type="radio" id="down" name="rating" value="-1">request.form['rating']
		<label for="down"> -1</label><br>
		<label for="body">Comment</label>
    		<textarea name="body" id="body">{{ request.form['body'] }}</textarea>
   		<input type="submit" value="Save">
	</form>
	{% endif %}
    </article>
	


{% for comm in comms %}
    <article class="content">
      <header>
        <div>
          <div class="about">by {{ comm['author_id'] }}</div>
      </header>
      <p class="body">{{ comm['comments'] }}</p>
    </article>
    {% if not loop.last %}
 	{% endif %}
  {% endfor %}
	

  
{% endblock %}
